*{
  background-color: rgb(15, 48, 93)
}
.upper {
  text-align:center;
  background-color: rgb(70, 11, 45)
}
ul {
  list-style-type:none;
  font-size:22px;
  color: rgb(145, 17, 66);
}
p{
  font-size:22px;
  color: rgba(188, 151, 37, 0.868);
}
span {
  text-decoration: underline;

}
.lower {
  text-align:center;
  background-color: #FAFDD6;
  margin-top:50px;
}
button{
  color: black;
  background-color: rgb(203, 221, 225);
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

.hovered{
  color: rgb(226, 65, 65);
}